.button {
    -fx-background-color: #EEF8F8;
    -fx-background-radius: 0em;
    -fx-border-color: #3AEAE4;
    -fx-border-style: dashed;
}
.button:hover {
    -fx-background-color: #fff;
}

.button:pressed {
    -fx-background-color: #fff;
}

.exportButton {
    -fx-text-fill: #1296db;
}

.anchorPane {
    -fx-background-color: #F4F4F4;
    -fx-border-width: 0;
    -fx-padding: 0 0 0 0;
}

.topHBox {
    -fx-padding: 10 0 10 0;
}

#tableFindLabel {
    -fx-background-color: gray;
    -fx-font-size: 16;
}

/*split-pane*/
.split-pane:horizontal > .split-pane-divider {
    -fx-padding: 0 0 0 0;
    -fx-border-radius: 2;
    /*-fx-background-color: #E8E8E8;*/
}
.guideLabel {
    -fx-font-size:14;
}
.hintLabel {
    -fx-font-size:12;
}