.button {
    -fx-background-color: #F4F4F4;
    -fx-background-radius: 0em;
}

.buttonGuideList:hover {
    -fx-font-family: "FZCuYuan-M03S";
    -fx-background-color: transparent;
    -fx-text-fill: #6666ff;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}

.button:pressed {
    -fx-background-color: #fff;
}

.exportButton {
    -fx-text-fill: #1296db;
}

/*.button:focused {*/
/*-fx-background-color: #fff;*/
/*}*/

.anchorPane {
    -fx-background-color: #F4F4F4;
    -fx-border-width: 0;
    -fx-padding: 0 0 0 0;
}

.topHBox {
    -fx-padding: 10 0 10 0;
}

.myColumn {
    -fx-alignment: CENTER;
}

#tableFindLabel {
    -fx-background-color: gray;
    -fx-font-size: 16;
}

/*!*split-pane*!*/
/*.split-pane:horizontal > .split-pane-divider {*/
/*    -fx-padding: 0 0 0 0;*/
/*    !*-fx-background-color: #E8E8E8;*!*/
/*}*/