<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.en.domain.mapper.EnglishWordMapper">
    <resultMap id="baseResultMap" type="com.study.en.domain.entity.EnglishWord">
        <id column="id" property="id"/>
        <result column="word" property="word"/>
        <result column="mean" property="mean"/>
        <result column="articleId" property="articleId"/>
        <result column="createDate" property="createDate"/>
        <result column="remark" property="remark"/>
        <association property="englishWordPrictice"  javaType="com.study.en.domain.entity.EnglishWordPrictice">
            <id column="wordId" property="wordId"/>
            <result column="errorTime" property="errorTime"/>
            <result column="difficultyLevel" property="difficultyLevel"/>
        </association>
    </resultMap>
    <sql id="baseColumns">
        a.id,
        a.word,
        a.mean,
        a.article_id AS "articleId",
        a.create_date AS  "createDate",
        a.remark AS "remark"
    </sql>
    <sql id="pricticeColumns">
        b.word_id AS "wordId",
        b.error_time AS  "errorTime",
        b.difficulty_level AS "difficultyLevel"
    </sql>
    <select id="pageByLike" resultMap="baseResultMap">
        SELECT
        <include refid="baseColumns"/> ,
        <include refid="pricticeColumns"/>
        FROM english_word a LEFT JOIN english_word_prictice b
        on a.id = b.word_id
        WHERE 1=1
        <if test="word != null  and word != ''">
            AND a.word Like CONCAT('%',#{word},'%')
        </if>
        <if test="articleId != null  and articleId != ''">
            AND a.article_id Like CONCAT('%',#{articleId},'%')
        </if>
        ORDER BY a.create_date DESC
        limit #{page.start}, #{page.pageSize}
    </select>
    <select id="pageByLikeAccount" resultType="java.lang.Integer">
        SELECT
        COUNT(a.id)
        FROM english_word a
        WHERE 1=1
        <if test="word != null  and word != ''">
            AND a.word Like CONCAT('%',#{word},'%')
        </if>
        <if test="articleId != null  and articleId != ''">
            AND a.article_id Like CONCAT('%',#{articleId},'%')
        </if>
    </select>
    <select id="listByLike" resultMap="baseResultMap">
        SELECT
        <include refid="baseColumns"/> ,
        <include refid="pricticeColumns"/>
        FROM english_word a LEFT JOIN english_word_prictice b
        on a.id = b.word_id
        WHERE 1=1
        <if test="word != null  and word != ''">
            AND a.word Like CONCAT('%',#{word},'%')
        </if>
        <if test="articleId != null  and articleId != ''">
            AND a.article_id Like CONCAT('%',#{articleId},'%')
        </if>
    </select>
</mapper>